// Define variables for your color scheme

// For example:
$red: #F60201;
$pink: #FD9BCA;
$orange: #FFC65A;
$white: white;
$green: #3DFF87;
$yellow: #FFF01F;

// $green2: #83C760;
// $green_blue_darker: #039f9b;
// $green_blue: rgb(26, 190, 190);
// $mint: #8AE1B3;
