// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;600&display=swap');
@import "config/colors";
// Define fonts for body and headers
$body-font: "Montserrat", "sans-serif";
$headers-font: "Bebas Neue", "cursive";

h1 {
  color: $red;
  size: 18px;
}

h2 {
  color: $red;
  size: 16px;
}

h3 {
  color: $red;
  size: 14px;
}

p {
  color: rgb(10,10,10);
  size: 12px;
}

a {
  text-decoration: none !important;
}

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
