.nav-item button {
  font-family: $headers-font;
  &:hover {
    color: $pink;
  }
}

.cards-my-account-container {
  display: grid;
  grid-column-gap: 20px;
  row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  border-radius: none;
  box-shadow: none;
  margin: 20px;
}

#upload-artwork {
  width: 350px !important;
  margin: 20px auto;
  display: block;
}

.booking-details {
  text-align: left;
}

.booking-overview {
  text-align: right;
  color: $pink !important;
  font-size: 14px;
}

.artwork-details-my-bookings {
  text-align: left;
}

.artwork-price-tag-my-bookings {
  text-align: left;
}

.show-icon {
    position:relative;
}
.show-icon:before {
    content: "f0f3";  /* this is your text. You can also use UTF-8 character codes as I do here */
    font-family: FontAwesome;
    left:-5px;
    position:absolute;
    top:0;
    color: $red;
 }
