.card-container {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 3px;
  box-shadow: 2px 2px 5px rgba(20, 20, 20, 0.2);
  padding: 16px;
  margin: 20px;
}

.details-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.artwork-img-lg {
  width: 50%;
}
.artwork-img-lg img {
  width: 100%;
  object-fit: cover;
}
