.card-container {
  width: 95%;
  background-color: white;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 3px;
  padding: 16px;
  margin: auto;
}

.details-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 20px 0 20px;
}

.artwork-img-lg {
  width: 50%;
}
.artwork-img-lg img {
  width: 100%;
  object-fit: cover;
}
