.card-container {
  width: 600px;
  height: 450px;
  background-color: white;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 3px;
  box-shadow: 2px 2px 5px rgba(20, 20, 20, 0.2);
  padding: 16px;
}

.details-container {
  display: flex;
  flex-direction: column;
}

.artwork-img-lg img {
  height: 400px;
  width: 400px;
}
