<div class="artmart-footer d-flex flex-column align-items-center">

  <div class="footer-socials">
    <a href="#">
      <i class="fa-brands fa-twitter"></i>
    </a>
    <a href="#">
      <i class="fa-brands fa-instagram"></i>
    </a>
    <a href="#">
      <i class="fa-brands fa-facebook-square"></i>
    </a>
  </div>

</div>
