<div class="container-home">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6 text-center">
        <img id="logo" src="assets/ArtMartTransparent.png" alt="logo of ArtMart">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6 text-center">
        <h3>Slogan goes here</h3>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6 text-center">
       <a class="btn btn-bold" href="#">Start your collection</a>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6 text-center">
        <h5>Already have an account? Sign in</h5>
    </div>
  </div>
</div>
