<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6 text-center mt-5">
        <img id="logo" src="assets/ArtMartTransparentCropped.png" alt="logo of ArtMart">
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-12 col-lg-6 text-center">
        <h1>Your artwork marketplace</h1>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-12 col-lg-6 text-center">
      <%= link_to "Start your collection", artworks_path, class: "btn btn-bold" %>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-12 col-lg-6 text-center">
        <h5>Already have an account? <%= link_to "Sign in", new_user_session_path, class: "red"%></h5>
    </div>
  </div>
</div>
