.artwork-card {
  width: 630px;
  height: 360px;
  background-color: white;
  display: flex;
  border-radius: 3px;
  box-shadow: 2px 2px 5px rgba(20, 20, 20, 0.2);
  h4, h3 {
    color: rgb(10,10,10);
  }
  &:hover {
    transform: scale(1.01);
    box-shadow: 2px 2px 5px #fd9bca7e;
  }
  transition: 0.2s;
  h2 {
    color: $pink;
  }
}



.artwork-photo img {
  height: 360px;
  width: 240px;
  object-fit: cover;
  border-radius: 3px 0 0 3px;
}

.description-container {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
   -webkit-line-clamp: 5; /* number of lines to show */
           line-clamp: 5;
   -webkit-box-orient: vertical;
  width: 328px;
}

.artwork-information {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.artwork-price-tag {
  p, h3 {
    text-align: right;
  }
}
