.btn-bold {
  color: $green;
  font-weight: bold;
  font-size: 36px;
  padding: 8px 24px;
  border-radius: 10px;
  background: white;
  box-shadow: 2px 2px 5px rgba(20, 20, 20, 0.2);
}

.btn-slim {
  color: white;
  padding: 8px 24px;
  border-radius: 10px;
  background: $green;
  margin: 20px;
  &:hover {
    background: $pink;
    color: $white;
  }
}

.btn-orange {
  color: white;
  padding: 8px 24px;
  border-radius: 10px;
  background: $orange;
  margin: 20px;
  margin-left: 0px;
  margin-right: 0px;
  &:hover {
    background: $pink;
    color: $white;
  }
}
