.comment-container {
  display: flex;
  margin-bottom: 24px;
  padding: 16px;
  width: 100%;
  a {
    font-size: 19px;
  }
}

.comment-text-input {
  height: 100%;
}

.comment-user-img {
  margin-right: 24px;
}

.comment-text {
  width: 100%;
}

#new-comment-container {
  align-items: center;

  .form-control {
    margin-left: 36px;
    width: 750px;
    height: 70px;
  }

  .comment-button {
    height: 70px;
    width: 60px;
    border-radius: 0 2px 2px 0;
  }

  .comment-button:hover {
    color: $red;
  }

  .avatar {
    height: 65px;
    margin: 0 36px 0 16px;
  }

  textarea {
    resize: none;
  }

  h4 {
    padding-top: 20px;
  }
}
