.comment-container {
  display: flex;
  margin-bottom: 24px;
  padding: 16px;
  width: 100%;
}

.comment-text-input {
  height: 100%;
}

.comment-user-img {
  margin-right: 24px;
}

.comment-text {
  width: 100%;
}

.new-comment-container {
  .form-control {
    width: 750px;
    height: 70px;
  }

  .comment-button {
    height: 70px;
    width: 50px;
  }

  textarea {
    resize: none;
  }
}
