.navbar-lewagon {
  justify-content: space-between;
  background: $pink;
  font-family: $headers-font;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}

.nav-link {
  color: $red;
  font-size: 24px;
  margin: 0 16px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .nav-item {
  color: $red;
}
